<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8"/>
    <title>ccxh-主页</title>
    <link rel="stylesheet" type="text/css" href="template_a/css/component.css"/>
    <script src="template_a/js/modernizr.custom.js"></script>
</head>
<body>
<div class="container">
    <div id="bl-main" class="bl-main">
        <section>
            <div class="bl-box">
                <h2 class="bl-icon bl-icon-about">关于 我</h2>
            </div>
            <div class="bl-content">
                <h2>关于 我 标题</h2>
                <p>
                    关于 我
                </p>
            </div>
            <span class="bl-icon bl-icon-close"></span>
        </section>
        <section id="bl-work-section">
            <div class="bl-box">
                <h2 class="bl-icon bl-icon-works">项目</h2>
            </div>
            <div class="bl-content">
                <h2>我的项目 </h2>
                <p>自己开的坑</p>
            </div>
            <span class="bl-icon bl-icon-close"></span>
        </section>
        <section>
            <div class="bl-box">
                <h2 class="bl-icon bl-icon-blog">博客</h2>
            </div>
            <div class="bl-content">
                <h2>博客-主题-目录</h2>
                <article>
                    <h3>日常学习和犯错的记录</h3>
                    <p></p>
                </article>
                <article>
                    <h3>主题名</h3>
                    <p>主题简介<a href="#">单击 查看</a></p>
                </article>
            </div>
            <span class="bl-icon bl-icon-close"></span>
        </section>
        <section>
            <div class="bl-box">
                <h2 class="bl-icon bl-icon-contact">其 他</h2>
            </div>
            <div class="bl-content">
                <h2>其它</h2>
                <p> 内容 待定</p>
            </div>
            <span class="bl-icon bl-icon-close"></span>
        </section>
    </div>
</div><!-- /container -->
<script src="template/js/jquery-2.1.1.js"></script>
<script src="template_a/js/boxlayout.js"></script>
<script>
    $(function () {
        Boxlayout.init();
    });
</script>
</body>
</html>
