<!doctype html>
<html lang="cn" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ccxh-主页</title>
	<link rel="stylesheet" href="/template/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" type="text/css" href="/template/css/default.css">
	<link rel="stylesheet" href="/template/css/style.css"> <!-- Resource style -->
	<script src="/template/js/modernizr.js"></script>
	<link rel="stylesheet" href="/plugins/github-markdown.css"> <!-- Modernizr -->
</head>
<body>
	<main class="cd-main">
		<ul class="cd-gallery">
			{% for key, val in markdowns %}
			<li class="cd-item">
				<a href="{{ val.showUrl | replace(' ','%20') }}">
					<div>
						<h2>{{ val.name }}</h2>
						{% if val.name !=== '没有多余的数据了' %}
						<p>更新时间:{{ val.updateTime|date('Y-m-d H:i:s',-480) }}</p>
						<b>点击 查看</b>
						{% endif %}
					</div>
				</a>
			</li>
			{% endfor %}

		</ul> <!-- .cd-gallery -->
		
	</main> <!-- .cd-main -->
	<div class="cd-folding-panel">
		
		<div class="fold-left"></div> <!-- this is the left fold -->
		
		<div class="fold-right"></div> <!-- this is the right fold -->
		
		<div class="cd-fold-content">
			<!-- content will be loaded using javascript -->
		</div>

		<a class="cd-close" href="#0"></a>
	</div> <!-- .cd-folding-panel -->
	
	<script src="/template/js/jquery-2.1.1.js"></script>
	<script src="/template/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>