<!doctype html>
<html lang="cn" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ccxh-主页</title>
	<link rel="stylesheet" href="template/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" type="text/css" href="template/css/default.css">
	<link rel="stylesheet" href="template/css/style.css"> <!-- Resource style -->
	<script src="template/js/modernizr.js"></script> <!-- Modernizr -->
</head>
<body>
	<main class="cd-main">
		<ul class="cd-gallery">
			<li class="cd-item">
				<a href="item-1.html">
					<div>
						<h2>关于我</h2>
						<p>平平无奇的我</p>
						<b>点击 查看</b>
					</div>
				</a>
			</li>

			<li class="cd-item">
				<a href="blog_menu.html">
					<div>
						<h2>博客 目录</h2>
						<p>日常学习和犯错的小记录</p>
						<b>点击 查看</b>
					</div>
				</a>
			</li>

			<li class="cd-item">
				<a class="dark-text" href="item-3.html">
					<div>
						<h2>Title 3</h2>
						<p>Lorem ipsum dolor sit amet, consectetur.</p>
						<b>View More</b>
					</div>
				</a>
			</li>

			<li class="cd-item">
				<a href="item-4.html">
					<div>
						<h2>Title 4</h2>
						<p>Lorem ipsum dolor sit amet, consectetur.</p>
						<b>View More</b>
					</div>
				</a>
			</li>
		</ul> <!-- .cd-gallery -->
		
	</main> <!-- .cd-main -->
	<div class="cd-folding-panel">
		
		<div class="fold-left"></div> <!-- this is the left fold -->
		
		<div class="fold-right"></div> <!-- this is the right fold -->
		
		<div class="cd-fold-content">
			<!-- content will be loaded using javascript -->
		</div>

		<a class="cd-close" href="#0"></a>
	</div> <!-- .cd-folding-panel -->
	
	<script src="template/js/jquery-2.1.1.js"></script>
	<script src="template/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>